# =============================================================================
# Artefactos de Machine Learning (Modelos pesados y metadatos de compilación)
# =============================================================================
models/*.pkl
models/*.json

# =============================================================================
# Datasets (Datos masivos crudos y normalizados en CSV)
# =============================================================================
data/*.csv


# =============================================================================
# Entornos Virtuales y Configuración Local
# =============================================================================
venv/
.venv/
env/
.env

# =============================================================================
# IDEs y Editores de Código
# =============================================================================
.vscode/
.idea/

# =============================================================================
# Basura de Compilación y Caché de Python
# =============================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =============================================================================
# Archivos Temporales del Sistema Operativo
# =============================================================================
.DS_Store
Thumbs.db